body {
    font-family: 'secular one';
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-size: clamp(14px, 1.2vw, 24px);
    margin: 0;
    padding: 0;
}
header{
  height: 100px;
  background-color: var(--color-bg-banner);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: clamp(14px, 1.2vw, 24px);
}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: 100%;
    padding: 0 20px;
}
.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .nav-links a {
    color: var(--color-text-contrast);
    font-weight: 700;;
    text-decoration: none;
    padding: 14px 16px;
  }
  .nav-links .active {
    background-color: var(--color-bg-banner-light);
    border-radius: 8px;
    padding: 11px 16px;
    display: inline-block;
  }
  .icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--color-text-contrast);
    padding: 10px 16px;
  }
  #btnLightMode{
    background: none;
    border: none;
    color: var(--color-text-contrast);
    font-size: 25px;
    cursor: pointer;
    width: auto;
    padding: 10px 20px;
}
  @media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--color-bg-banner);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px 0;
    border-radius: 0 0 8px 8px;
    box-shadow: var(--shadow-heavy);
  }
  .topnav.responsive .nav-links {
    display: flex;
  }
  .topnav {
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  .nav-links a {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    font-size: 20px;
  }
    .nav-links .active {
    border-radius: 8px;
    padding: 20px 20px;
    display: inline-block;
  }
  .icon {
    display: block;
    font-size: 28px;
    color: var(--color-text-contrast);
    cursor: pointer;
  }
}
  main{
    max-width: 900px;
    margin: 120px auto 30px;
    line-height: 1.75;
  }
  footer {
    background-color: var(--color-bg-banner);
    color: var(--color-text-contrast);
    text-align: center;
    height: 100px;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 1.2vw, 24px);
    box-sizing: border-box;
  }
