body {
    font-family: 'Poppins', sans-serif;
    background-color: #e1e0e0;
    color: #333;
    font-size: clamp(14px, 1.2vw, 24px);
    margin: 0;
    padding: 0;
}
header{
  height: 100px;
  background-color: #213448;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: clamp(14px, 1.2vw, 24px);
}
.topnav {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px 16px 0;
}
.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .nav-links a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
  }
  .nav-links .active {
    background-color: #547792;
    border-radius: 8px;
    padding: 8px 16px;
    display: inline-block;
  }
  .icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    padding: 10px 16px;
  }
  @media screen and (max-width: 767px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #213448;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .topnav.responsive .nav-links {
    display: flex;
  }
  .topnav {
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  .nav-links a {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    font-size: 20px;
  }
    .nav-links .active {
    border-radius: 8px;
    padding: 20px 20px;
    display: inline-block;
  }
  .icon {
    display: block;
    font-size: 28px;
    color: white;
    cursor: pointer;
  }
  
}
  main{
    max-width: 900px;
    margin: 120px auto 30px;
    line-height: 1.75;
  }
  footer {
    background-color: #213448;
    color: white;
    text-align: center;
    height: 100px;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 1.2vw, 24px);
    box-sizing: border-box;
  }