main {
  max-width: 900px;
  margin: 130px auto 30px;
  padding: 0 20px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  margin-top: 30px;
}
  
  .skills-section h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 30px;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: var(--shadow-very-heavy);
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    margin-top: 30px;
  }
  
  .skill-card {
    background-color: var(--background-card-light);
    border-radius: 12px;
    padding: 25px 20px;
    text-align: center;
    box-shadow: var(--shadow-light);
    transition: transform 0.2s ease;
  }
  
  .skill-card:hover {
    transform: translateY(-5px);
  }
 
  .skill-card h3 {
    font-size: 20px;
    margin: 10px 0 8px;
    gap: 10px;
  }
    
  .skill-card i {
    font-size: 25px;
    color: var(--icon-light);
    margin: 10px;
    gap: 10px;
  }
  .skill-card p {
    font-size: 16px;
    color: var(--text-dark);
    line-height: 1.4;
  }
  .skill-card.ex p {
    font-size: 18px;
    line-height: 1.6;
  }