:root {
  --color-text-contrast: #f9f6f6;
  --color-bg-surface: #fff;
  --color-text-primary: #333;
  --color-text-secondary: #0E2954;
  --color-bg-btn: #555;
  --color-bg-banner: #0E2954;
  --color-bg-banner-light: #547792;
  --color-bg-primary:#e1e0e0;
  --color-accent:#1c5ca1;
  --color-bg-cal-secondary: #f6f6f6;
  --color-border: #c3d4e0;
  --shadow-light: 0 2px 6px rgba(0, 0, 0, 0.08);
  --shadow-heavy: 0 6px 16px rgba(0, 0, 0, 0.1);
  --shadow-very-heavy: 0 12px 24px rgba(0, 0, 0, 0.55);
}
.dark-mode {
--color-text-contrast:#dbdae3;
--color-bg-surface:#60697668;
--color-text-primary:#d4d3d3;
--color-text-secondary:#d4d3d3;
--color-bg-btn:#121212;
--color-bg-banner:#021725;
--color-bg-banner-light:#172e3e;
--color-bg-primary:#0e2039;
--color-accent:#4ea1f3;
--color-bg-cal-secondary:#b7b7ba;
--color-border:#a8afb5;
--shadow-light:0 2px 6px rgba(0,0,0,0.3);
--shadow-heavy:0 6px 16px rgba(0,0,0,0.45);
--shadow-very-heavy:0 12px 24px rgba(0,0,0,0.6);
}
